.jumbotron.showJumbo
  .container
    %h1.showHead Log in
    .row.no-center
      .col-md-6.col-md-offset-3
        =form_for(:session, :url => login_path, :html => { :id => "loginPageForm"}) do |f|
          .form-group
            = f.label :email
            %em="(It will not be published)"
            .val-col#loginEmail= f.email_field :email, class: "form-control", autofocus: true, required: true
          .form-group
            = f.label :password
            .val-col= f.password_field :password, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
          .form-group
            =f.label :remember, class: "checkbox inline rememberLabel regForm" do
              =f.check_box :remember
              %span Remember me on this computer 
          .form-group
            = f.submit "Log in", class: "btn btn-success btn-wide"
    First time on the page?
    = link_to "Sign up", signup_path