.jumbotron.showJumbo
  .container
    %h1.showHead= @user.username
    - if logged_in? && (current_user == @user || current_user.admin?)
      %strong Email address:
      %p= @user.email
      = link_to "Back", users_path, class: "btn btn-primary"
      = link_to "Edit", edit_user_path(@user), class: "btn btn-warning"
    - else
      = link_to "Back", users_path, class: "btn btn-primary"
    - if !@courts.blank?
      %h2= "Courts added by " + @user.username
      %br
      .row
        - @courts.each do |court|
          .col-md-4.col-sm-6
            %a{:href => "/courts/#{court.id}"}
              .thumbnail.hvr-grow
                %img{:src => "#{court.picture.url}", :onerror =>"this.src='/assets/ball.jpg'", :height => "100px"}
                .caption
                  %h3= court.name
                  %p= truncate(court.description, length: 60)
                  %small Created at:
                  %small= court.created_at
                  %small= "Created by:"
                  %small= court.user_id
    - else
      %h2= @user.username + " hasn't added any courts yet"