.jumbotron#courtsMainJumbo
  .container#courtsMainContainer
    %h1 Discover the best basketball courts near you
    %p.lead Share them with your friends and with your enemies
    %a{:href => "/courts/new"}
      %button.btn-success.btn.btn-lg Add Your Court
.jumbotron#courtsContentJumbo
  .container#courtsContentContainer
    .row#courtsRow
      - @courts.each do |court|
        .col-md-4.col-sm-6
          %a{:href => "/courts/#{court.id}"}
            .thumbnail.hvr-grow
              %img{:src => "#{court.picture.url}", :onerror =>"this.src='/assets/ball.jpg'", :height => "100px"}
              .caption       
                %h3= court.name
                %p.courtParagraph= truncate(court.description, length: 60)
                %small Created at:
                %small= court.created_at
                %small= "Created by:"
                %small= User.find(court.user_id).username
    

