.jumbotron#courtsMainJumbo
  .container#courtsMainContainer
    %h1 Discover the best basketball courts near you
    %p.lead Share them with your friends and with your enemies
    - if logged_in? 
      %a.btn-success.btn.btn-lg{:href => "/courts/new"} Add Your Court
    - else
      %a#signupButton.btn-success.btn.btn-lg{:data => {:toggle => "modal", :which => "signup", :target=> "#signupModal"}} Sign up to add your courts!        
.jumbotron#courtsContentJumbo
  .container#courtsContentContainer
    .row#courtsRow
      - @courts.each do |court|
        .col-md-4.col-sm-6
          %a{:href => "/courts/#{court.id}"}
            .thumbnail.hvr-grow
              %img{:src => "#{court.picture.url}", :onerror =>"this.src='/assets/ball.jpg'", :height => "100px"}
              .caption    
                %h3= court.name
                %p= truncate(court.description, length: 60)
                %small= "Created by: " + User.find(court.user_id).username + ", " + time_ago_in_words(court.created_at) + " ago "
    

