.jumbotron.showJumbo
  .container
    %h1.showHead= @court.name
    %input#inputLongitude{:type => "hidden", :value => @court.longitude}
    %input#inputLatitude{:type => "hidden", :value => @court.latitude}
    .row
      .col-sm-12
        %img#showImg.col-sm-8.col-xs-12{:src => "#{@court.picture.url}", :onerror =>"this.src=errorPage"}
        #mapDiv.col-sm-4.col-xs-12
          #map
        .clear
      .col-sm-8.col-sm-offset-2
        .caption    
          %p.courtParagraph= @court.description
          - if @court.created_at == @court.updated_at
            %small= "Created by: " + User.find(@court.user_id).username + ", " + time_ago_in_words(@court.created_at) + " ago "
          - else  
            %small= "Updated by: " + User.find(@court.user_id).username + ", " + time_ago_in_words(@court.updated_at) + " ago "
        .courtButtons
          - if logged_in? && (current_user.id == @court.user_id || current_user.admin?)
            =link_to "Edit", edit_court_path(@court), class: "btn btn-warning"
            =link_to "Delete", @court, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
          - if logged_in?
            =link_to "Add Comment", "", class: "btn btn-info", id: "addCommentButton"
        - if logged_in?
          .row
            .addComment.well.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
              %a.close.closeComment &times;
              =form_for @comment, :html => {:id => "commentForm"} do |f|
                = f.hidden_field_tag "court_id", @court.id
                .form-group.val-col
                  = f.text_area :content, class: "form-control", required: true, id: "textAreaComment"
                  = f.submit "Add Comment", class: "btn btn-info btn-wide"
        = will_paginate @comments
        - @comments.each do |comment|
          - @user = User.find(comment.user_id)
          .row
            .col-md-8.col-md-offset-2
              .well.commentWell
                .row
                  .col-md-2
                    .commentAvatar= show_avatar(@user, 70, 70)
                  .col-md-10
                    %p.comment= comment.content
                    - if comment.created_at == comment.updated_at
                      %small.commentDate= "Added by: " + @user.username + ", " + time_ago_in_words(comment.created_at) + " ago "
                    - else  
                      %small.commentDate= "Updated by: " + @user.username + ", " + time_ago_in_words(comment.updated_at) + " ago "
                    .clear
                    - if logged_in? && (current_user.id == comment.user_id || current_user.admin?)
                      .commentButtons
                        = link_to "Delete", comment_path(comment), class: "commentActions btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" }
                        = link_to "Edit", comment_path(comment), class: "editComBtn commentActions btn btn-warning btn-xs"
          - if logged_in? && (current_user.id == comment.user_id || current_user.admin?)      
            .row
              .edtComment.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
                %a.close.closeEdtComment &times;
                =form_for comment, :html => {:id => "commentForm"} do |f|
                  = f.hidden_field_tag "court_id", @court.id
                  .form-group.val-col
                    = f.text_area :content, class: "form-control", required: true, id: "textAreaComment"
                    = f.submit "Edit Comment", class: "btn btn-info btn-wide"
        = will_paginate @comments


%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCHvA_HeK-Kj5bULpf9VkGl5SFGgyp3Fu8&libraries=places"}
  :cdata