.jumbotron
  .container
    %h1= @court.name
    .row
      .col-sm-8.col-sm-offset-2 
        .thumbnail
          %img{:src => "/assets/#{@court.picture}", :onerror =>"this.src='/assets/ball.jpg'"} 
          .caption
            %br       
            %p.courtParagraph= @court.description
            %small Created at:
            %small= @court.created_at
            %small= "Created by:"
            %small= @created.username