.modal.fade#loginModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Log in
      .modal-body 
        =form_for(:session, :html => {:role => "form"}, :url => login_path) do |f|
          .row.no-center
            .col-xs-10.col-xs-offset-1
              .form-group
                .control-label= f.label :email
                .row
                  .col-xs-11#loginEmail= f.email_field :email, class: "form-control", autofocus: true, required: true
                  .col-xs-1.validationDiv
                    %i.fa.fa-check-circle-o.fa-2x
              .form-group
                .control-label= f.label :password
                .row
                  .col-xs-11= f.password_field :password, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
                  .col-xs-1.validationDiv
                    %i.fa.fa-check-circle-o.fa-2x
              .form-group
                .row
                  .col-xs-11= f.submit "Log in", class: "btn btn-success btn-wide"
              First time on the page?
              %a#closeLoginModal Sign up



          
        
        