%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", :aria => {:expanded => "false"}, :data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} PlayBall
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %a{:href => "/courts"} All Courts
        %li
          %a{:href => "/users"} All Users
        %li.dropdown
          %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}, :role => "button", :aria => {:haspopup => "true", :expanded => "false"}} 
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} One more separated link
      %ul.nav.navbar-nav.navbar-right
        %li
          %a#loginButton{:data => {:toggle => "modal", :target=> "#loginModal"}}
            %i.fa.fa-user
            Login
        %li
          %a#signupButton{:data => {:toggle => "modal", :target=> "#signupModal"}}
            %i.fa.fa-user-plus 
            Sign Up
.modal.fade#loginModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Login
      .modal-body 
        =form_for(:session, :html => {:class => "form-horizontal", :role => "form"}, :url => login_path) do |f|
          .form-group
            .control-label.col-sm-2= f.label :email
            .col-sm-8= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true
          .form-group
            .control-label.col-sm-2= f.label :password
            .col-sm-8= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password"
          .form-group
            .col-sm-offset-2.col-sm-10= f.submit "Log in", class: "btn btn-success btn-lg"
.modal.fade#signupModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Signup
      .modal-body 
        =form_for(:user, :html => {:class => "form-horizontal", :role => "form"}, :url => signup_path) do |f|
          .form-group
            .control-label.col-sm-2= f.label :email
            .col-sm-8= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true
          .form-group
            .control-label.col-sm-2= f.label :username
            .col-sm-8= f.text_field :username, class: "form-control", placeholder: "Enter user name"
          .form-group
            .control-label.col-sm-2= f.label :password
            .col-sm-8= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password"
          .form-group
            .col-sm-offset-2.col-sm-10= f.submit "Sign up", class: "btn btn-success btn-lg"
