.modal.fade#signupModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Signup
      .modal-body 
        =form_for(:user, :html => { :role => "form" }, :url => signup_path) do |f|
          .row.no-center
            .col-xs-10.col-xs-offset-1
              .form-group
                .control-label= f.label :email
                .row
                  #signupEmail.col-xs-11= f.email_field :email, class: "form-control", autofocus: true, required: true
                  .col-xs-1.validationDiv
                    %i.fa.fa-times-circle-o.fa-2x
              .form-group
                .control-label= f.label :username, "Name"
                .row
                  .col-xs-11= f.text_field :username, class: "form-control", required: true
                  .col-xs-1.validationDiv
                    %i.fa.fa-times-circle-o.fa-2x
              .form-group
                .control-label= f.label :password
                .row
                  .col-xs-11= f.password_field :password, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
                  .col-xs-1.validationDiv
                    %i.fa.fa-times-circle-o.fa-2x
              .form-group
                .control-label= f.label :password_confirmation, "Confirmation"
                .row
                  .col-xs-11= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
                  .col-xs-1.validationDiv
                    %i.fa.fa-times-circle-o.fa-2x
              .form-group
                .row
                  .col-xs-11= f.submit "Sign up", class: "btn btn-success btn-wide"
              You already have an account?
              %a.closeFirst{:data => {:toggle => "modal", :which => "login", :target=> "#loginModal"}} Login
