.modal.fade#signupModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Signup
      .modal-body 
        =form_for(:user, :html => {:class => "form-horizontal", :role => "form"}, :url => signup_path) do |f|
          .form-group
            .control-label.col-sm-2= f.label :email
            .col-sm-8#signupEmail= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true
          .form-group
            .control-label.col-sm-2= f.label :username
            .col-sm-8= f.text_field :username, class: "form-control", placeholder: "Enter username"
          .form-group
            .control-label.col-sm-2= f.label :password
            .col-sm-8= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password"
          .form-group
            .control-label.col-sm-2= f.label :password_confirmation, "Confirmation"
            .col-sm-8= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Confirm password"
          .form-group
            = f.submit "Sign up", class: "btn btn-success btn-lg"
        You already have an account?
        %a.closeFirst{:data => {:toggle => "modal", :which => "login", :target=> "#loginModal"}} Login
