.modal.fade#signupModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h4.modal-title#myModalLabel Sign up
      .modal-body 
        =form_for(:user, :html => { :role => "form", :id => "signupModalForm", :class => "form-horizontal" }, :url => signup_path) do |f|
          .form-group
            .control-label.col-xs-3= f.label :email
            #signupEmail.col-xs-7.val-col= f.email_field :email, class: "form-control", autofocus: true, required: true
          .form-group
            .control-label.col-xs-3= f.label :username, "Name"
            .col-xs-7.val-col= f.text_field :username, class: "form-control", required: true
          .form-group
            .control-label.col-xs-3= f.label :password
            .col-xs-7.val-col= f.password_field :password, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
          .form-group
            .control-label.col-xs-3= f.label :password_confirmation, "Confirmation"
            .col-xs-7.val-col= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", required: true, pattern: ".{6,}", title: "Minimum six characters"
          .form-group
            .col-xs-7.col-xs-offset-3= f.submit "Sign up", class: "btn btn-success btn-wide"
          You already have an account?
          %a#closeSignupModal Log in
