<!DOCTYPE html>
<html>
  <head>
    <title>PlayBall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  
    <% if (request.fullpath != "/") %>
      <%= render "layouts/navigation" %>
      <%= render "layouts/messages" %>
      <style type="text/css">
        body {
          padding-top: 50px;
        }
      </style>
    <% end %>
    <%= yield %>



    <% if (request.fullpath.include?("/courts/") && !request.fullpath.include?("edit") && !request.fullpath.include?("new")) %>
        <%= javascript_include_tag 'manifestMap' %>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHvA_HeK-Kj5bULpf9VkGl5SFGgyp3Fu8">
      </script>
    <% end %>

    <%= javascript_include_tag 'footer' %>

  </body>
</html>
