<!DOCTYPE html>
<html>
  <head>

  <title>PlayBall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  
    <%= render "layouts/navigation" %>
    <%= render "layouts/messages" %>
    
    <%= yield %>


    <%= javascript_include_tag 'footer' %>

    <%= debug(params)  %>

  </body>
</html>
