<!DOCTYPE html>
<html>
  <head>

  <title>PlayBall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

  <%# flash on courts page, fa icons trigger, require same for ..., jumbotron landing page and courts page %>


    <%= render "shared/navigation" %>
    <%= render "shared/messages" %>
    
    <%= yield %>

    <%= javascript_include_tag 'footer' %>

    <%= debug(params) if Rails.env.development?  %>

  </body>
</html>
